apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      imagePullSecrets:
        - name: image-pull-secret
      containers:
        - name: user-service
          image: ghcr.io/inholland-cloud-minor-2526/group7-user-service/user-service:3636a48d7eb473059b0bce9938761fe8d444c3e5
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              value: user-db-rw
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: user-db-app
                  key: port
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: user-db-app
                  key: dbname
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: user-db-app
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: user-db-app
                  key: password

            - name: RABBITMQ_HOST
              value: rabbitmq
            - name: RABBITMQ_PORT
              value: "5672"
            - name: RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: RABBITMQ_USERNAME
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: RABBITMQ_PASSWORD
