apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: ghcr.io/inholland-cloud-minor-2526/group-7-auth-service/auth-service:6b3f920238eb14f7d1130bf7f2f16def8ee8fe40
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              value: auth-db-rw
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: auth-db-app
                  key: port
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: auth-db-app
                  key: dbname
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: auth-db-app
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: auth-db-app
                  key: password

            - name: RABBITMQ_HOST
              value: rabbitmq
            - name: RABBITMQ_PORT
              value: "5672"
            - name: RABBITMQ_USERNAME
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: RABBITMQ_USERNAME
            - name: RABBITMQ_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: rabbitmq-secret
                  key: RABBITMQ_PASSWORD

            - name: JWT_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_PUBLIC_KEY
            - name: JWT_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-signing-secret
                  key: JWT_PRIVATE_KEY
